In [4]:
a = 10
if a == 10 :
    print("first condition")

first condition

In [5]:
a = 10
if a > 5:
    pass # will pass this statement and will not return any output

In [7]:
a = 10
if a < 8:
    print("print this if condition is true")

In [11]:
a = 10
if a == 11:
    print("my condition is false")
else: 
    print("print this statement")

print this statement

In [14]:
a = 10
if a == 12:
    print("we are trying to compare 10 with 12")
elif a ==10:
    print ("we are trying to compare 10 with 11")
else :
     print("If all the blocks will fail then do this")

we are trying to compare 10 with 11

In [19]:
price = 500
if price > 500  :
    price("I wont be able to buy a jacket")
elif price < 500:
    print("I will be able to buy a jacket")
elif price == 500:
    print("for sure i will be able to buy")
else : 
    print("I dont know")

for sure i will be able to buy

In [21]:
l = [1,2,3,4,5,6]
if 2 in l:
    print("try to perform thid task")
else:
    print("do not perfor this task")

try to perform thid task

In [24]:
if 10 in l :
    print("try to do addition")
elif 2 in l:
    print("try to do Sub")
elif 3 in l:
    print("try to do Mul")
## In if elif condition when ever the condition is true it will execute and exit 
if 4 in l:
    print("this is a new statement")# this if will be a new block not a part if previous block.

try to do Sub
this is a new statement

In [25]:
a = 400

In [30]:
b = input() # for user input and the default formate will be string format.

400

In [31]:
type(b)

str

In [33]:
# If we need an integer we need to type casting 
c = int(input())

400

In [35]:
type(c)

int

In [1]:
price = int(input())
if price < 500:
    print("i will be able to buy something")
    if price < 400: 
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
        if price < 200:
            print("i would like to do something")
    else:
        print("i wont be able to buy anything")
else: 
    print("i wont be able to buy anything at this price")
    if price  > 500:
        print("Lets try something else")

600
i wont be able to buy anything at this price
Lets try something else

In [10]:
mark = int(input())
if mark < 600:
    print("NO GRE")
    if mark < 500:
        print("TOFEL")
        if mark < 400:
            print("Try somthing else")
    else:
         print("You got TOFEL")
else: 
    print("You got GRE")

300
NO GRE
TOFEL
Try somthing else

In [14]:
val = float(input("enter a floating point number "))
if val >= 0:
    if val == 0 :
        print("entered value is zero")
    else:
        print("entered number is a positive number")
else : 
    print("entered number is a negative number")

enter a floating point number 0
entered value is zero

In [17]:
 a = 10 
if a < 10 and a == 10 :
    print("try to do something")

try to do something

In [20]:
a = "vibh"
if a =="vibh" or a == "Vibh":
    print("Is this vibh")

Is this vibh

In [25]:
a = 10 
b = 11
c = 12
d = 13
if a == 9 or b ==11 and c == 12 and d ==13:
    print("do something")

do something

In [26]:
d = {'key1' : "value", "key2": "vibh","key3":"ineuron"}

In [28]:
if d['key1'] == "value" and d['key2'] == "Vibh" and d['key3'] == "ineuron" :
    print("all the values are verified")
    print(d.values())
else: 
    print(" all the values are not verifired")

 all the values are not verifired

In [29]:
l = [1,2,3,4,5,"vibh",234.45]

In [42]:
l

[1, 2, 3, 4, 5, 'vibh', 234.45]

In [43]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(1))

2
3
4
5
6
vibh1
235.45

In [45]:
# to get only the integer from the list
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)
print(l1)

[1, 2, 3, 4, 5]

In [46]:
for i in l:
    if type(i) == str:
        print(i)

vibh