In [1]:
l = [1,2,3,4,"vibhoor", "bhatnagar", 45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
vibhoor
bhatnagar
45.56

In [4]:
for i in l:
    pass

In [5]:
s = "vibh"
for i in s:
    print(i)

v
i
b
h

In [8]:
for i in l:
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else")

1
2
3
4
vibhoor
bhatnagar
45.56
if for loop is going to complete itself the it will execute else

In [11]:
for i in l:
    if i == 4 :
        break
    print(i)
else:
    print("this will execute only if for is going to complete itself")

1
2
3

In [13]:
s = "vibhoor"
for i in s:
    if i == 'o':
        break
    print(i)
else:
    print("print string ", s)

v
i
b
h

In [15]:
t = (4,5,6,7,8,6,"vibh")
for i in t:
    print(i)

4
5
6
7
8
6
vibh

In [16]:
b = {4,5,6,7,7,7,7,7,8,"vibh"}

In [17]:
type(b)

set

In [18]:
b

{4, 5, 6, 7, 8, 'vibh'}

In [19]:
for i in b:
    print(i)

4
5
6
7
8
vibh

In [20]:
d = {"key1":"vibh", "contact": "vibhoor@gmail.com", "position":"xyz"}

In [28]:
for i in d:
    print(i,':', d[i])

key1 : vibh
contact : vibhoor@gmail.com
position : xyz

In [26]:
d['key1']

'vibh'

In [29]:
range(9)

range(0, 9)

In [30]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [34]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [35]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [36]:
list(range(0,9,-1))

[]

In [37]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [62]:
n = 4 
for i in range(n):
    for j in range(0,i+1):
        print("vibh", end = " ")
    print("\n")

vibh

vibh vibh

vibh vibh vibh

vibh vibh vibh vibh

In [69]:
n = 4
k = n
for i in range(n):
    k = k-1
    print(" "*k,end = " ")
    for j in range(i+1):
        print( "vibh",end = " ")
    print("\n")

    vibh

   vibh vibh

  vibh vibh vibh

 vibh vibh vibh vibh

In [70]:
t = (3,23,45,67,2,4,5,6)

In [79]:
for i in range(len(t)):
    print(i, t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [81]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [108]:
s = "ineuron"
for i in range(len(s)-1, -1, -1): # to print the index in revers order
    print(i, s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [2]:
d = {"key1":"vibh", "contact": "vibhoor@gmail.com", "position":"xyz"}

In [3]:
d

{'key1': 'vibh', 'contact': 'vibhoor@gmail.com', 'position': 'xyz'}

In [5]:
for i in d.items():
    print(i, type(i), type(i[1]))

('key1', 'vibh') <class 'tuple'> <class 'str'>
('contact', 'vibhoor@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [11]:
l = ["vibh", "bhatnagar", 987654, "vb@gmail.com", 234, 23456678]
l1 = []
for i in l:
    if type(i) == int:
        l1.append(i)

In [12]:
l1

[987654, 234, 23456678]

In [14]:
d = {1:345453, 'name' : 'vibh', 'email_id' : 'vb@gmail.com', 234:'wsfdgg', '43':'sdfg0', 235:"3453"}

In [18]:
# to get the key value pair from the dictionary where key is numeric.
for i in d:
    if type(i) == int:
        print(i, ':', d[i])

1 : 345453
234 : wsfdgg
235 : 3453

In [19]:
# get the count of each element in the string.
s = "aaaabbccd"

To get the count first we have to get the unique elements from the string using set(), and then we can get the count of it.

In [31]:

for i in set(s):
    print(i,":", s.count(i))

b : 2
d : 1
c : 2
a : 4

In [32]:
i = 35353464634

In [41]:
# as int is not iterable in for loop we need to type cast it into string.
for j in str(i):
    print(int(j))

3
5
3
5
3
4
6
4
6
3
4

In [51]:
t = ("vibhoor", "bhatnagar", [1,2,3,4,5], (3,4,5,6), {3:3, 'key2':"bhatnagr"})

In [59]:
# print out the number '3' from the tuple t.
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items(): # we can get the tuple item for dict into 2 variable.
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
3

In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 :

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuples entities
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

In [62]:
#Q1. Print pattern of rt▲ of ineuron.

for i in range(5):
    for j in range(i):
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [75]:
#Q2. Print pattern of ▲ of ineuron.
k = 2 * 2 -2
for i in range(0, 2):
    for j in range(0,k):
        print(end = " ")
    k = k - 1
    for j in range(0, i + 1):
        print("ineuron", end=" ")
    print(" ")
k = 2-2
for i in range(2,-1,-1):
    for j in range(k,0,-1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("ineuron", end = " ")
    print(" ")

  ineuron
 ineuron ineuron
ineuron ineuron ineuron
 ineuron ineuron
  ineuron

In [5]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [78]:
#Q3 : Try to extract all the list entity 
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [80]:
#Q4 : Try to extract all the dict enteties
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [81]:
#Q5 : Try to extract all the tuples entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [140]:
l3 = []
for i in l:
    if type(i) == set:
        l3.append(i)
type(l3)

list

In [4]:
#Q6 : Try to extract all the numerical data it may b a part of dict key and values 
for i in l:
    if type(i) == set or type(i) == str or type(i) == tuple:
        for j in i:
            if type(j) == int:
                print(j)
    if type(i) == dict:
        for j in i.items():
            for k in j:
                if type(k) == int:
                    print(k)

2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

In [6]:
#Q7 : Try to give summation of all the numeric data

8

In [107]:
j

'data science '